{% extends 'Navbar.html' %}
< html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block body%}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Watch Anime</h5>
        <p class="card-text">Enjoy watching anime </p>
        <a href="https://aniwatch.to/tv" class="btn btn-primary">Aniwatch</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Watch youtube</h5>
        <p class="card-text">Enjoy watching youtube</p>
        <a href="https://www.youtube.com/" class="btn btn-primary">Youtube</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
</body>
</html>